<div class="about-content mt-4">
    <h3 class="title">About Me
        <span></span>
    </h3>
    
    <p class="desc">{{ aboutData.about?.aboutText }}</p>
    <ul class="headers">
        <li (click)="showSection('skills')" [class.active]="active === 'skills'">Skills</li>
        <li (click)="showSection('certf')" [class.active]="active === 'certf'">Certifications</li>
        <li (click)="showSection('edu')" [class.active]="active === 'edu'">Education</li>
    </ul>

    <div class="skills row" *ngIf="active === 'skills'">
    <div class="skills-section col-lg-4 col-md-6 col-12 mt-4 mt-lg-0" *ngFor="let category of skills">
        <h4>{{ category.category }}</h4>
        <ul class="skills-grid">
            <li *ngFor="let skill of category.skills">
                <img [src]="'http://localhost:4000/images/'+skill.image" [alt]="skill.name">
                <span>{{ skill.name }}</span>
            </li> 
        </ul>
    </div>
</div>

   <ul class="certf" *ngIf="active==='certf'">
        <li *ngFor="let cert of aboutData.certifications;let i=index" class="animate-fade-in" [ngClass]="'animate-delay-' + i">
            <i [class]="cert.icon"></i>
            {{ cert.title }}, {{cert.year|date}}
        </li>
    </ul>

    <div class="row g-4" *ngIf="active==='edu'">
        <div class="col-md-6 col-lg-4" *ngFor="let edu of aboutData.education;let i=index">
        <div class="card edu-card h-100 animate-fade-in" [ngClass]="'animate-delay-' + i">
            <div class="card-body">
                <h5 class="card-title">{{ edu.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ edu.name }}</h6>
                <span class="badge mb-3">{{ edu.date }}</span>
                <p class="card-text">{{ edu.description }}</p>
            </div>
        </div>
        </div>
    </div>


</div>
