
<div class="dashboard-grid">
  <div
    class="card from-left overall-info"
    *ngFor="let category of skillsList">
    <div class="card-heade">
      <h3>{{ category.category }}</h3>
      <small>{{ category.skills.length }} Skills</small>
    </div>

    <div class="stat-item primary">
      <div class="stat-label" *ngFor="let s of category.skills">
        <div class="label">
          <img [src]="'http://localhost:4000/images/'+s.image" alt="{{ s.name }}" />
          {{ s.name }}
        </div>

        <div class="card-actions">
          <button (click)="openEditModal(category); $event.stopPropagation()" class="btn btn-edit">
            <i class="fa-solid fa-pen"></i>
          </button>
          <button (click)="softDeleteCategory(category._id); $event.stopPropagation()" class="btn btn-delete">
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="custom-modal-backdrop" *ngIf="isEditModalOpen && skillForm">
  <div class="custom-modal" role="dialog" aria-modal="true">
    <div class="modal-header">
      <h3 *ngIf="selectedId">Edit Skills Category</h3>
      <h3 *ngIf="!selectedId">Add Skills Category</h3>
      <button class="close-btn" (click)="closeEditModal()">×</button>
    </div>

    <form [formGroup]="skillForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Category Name</label>
        <input type="text" formControlName="category" placeholder="Enter category" />
      </div>

      <div formArrayName="skills" class="my-4">
        <div *ngFor="let sk of skillArray.controls; let i=index" [formGroupName]="i" class="form-group mb-4">
          <label>Skill {{ i + 1 }}</label>
          <input type="text" formControlName="name" placeholder="Skill name" class="mb-2" />
          <input type="file" (change)="onFileSelected($event, 0)" class="form-control"/>
        </div>
      </div>

      <button type="button" class="btn btn-secondary" (click)="addSkillField()">+ Add Skill</button>

      <div class="modal-actions">
        <button type="submit" class="btn-save">{{ selectedId ? 'Save' : 'Add' }}</button>
        <button type="button" class="btn-cancel" (click)="closeEditModal()">Cancel</button>
      </div>
    </form>
  </div>
</div>


    <div class="add" (click)="openAddModal()">
    +
    </div>

    