<div class="content row" *ngFor="let item of homeDetails">
    <div class="details  col-md-7 col-12" >
        <h5 class="animate-fade-in animate-delay-1">Hello, my name is</h5>
        <h1 class="animate-fade-in animate-delay-2">{{item.name}}</h1>
        <h2 class="py-3 animate-fade-in animate-delay-3">I'm a <span class="fade-text">{{ displayText }}</span><span class="cursor">|</span></h2>
        <p class="animate-fade-in animate-delay-4 py-3 desc">{{item.description}}</p>
        <p class="animate-fade-in animate-delay-5" ><i class="fas fa-bullseye x"></i> Ready to see what I do best? Let’s dive in!</p>
        <div class="social-links animate-fade-in animate-delay-5">
            <div class="social"><a [href]="'https://' + item.linkedin" target="_blank"><i class="fab fa-linkedin"></i></a></div>
            <div class="social"><a [href]="item.gitHub" target="_blank"><i class="fab fa-github"></i></a></div>
            <div class="social"><a [href]="'https://mail.google.com/mail/?view=cm&fs=1&to=' +item.gmail" target="_blank"><i class="fa-brands fa-google"></i></a></div>
            <div class="social"><a href="#"><i class="fa-brands fa-facebook-f"></i></a></div>
            
        </div>

        <button class="btn btn-custom animate-fade-in animate-delay-5" (click)="showCv()">Download my CV</button>
    </div>
    <div class="col-md-5 col-12 py-md-0 py-4 d-flex justify-content-center">
    <div class="image rotate-in animate-fade-in animate-delay-3">
        <img [src]="'http://localhost:4000/images/'+item.img" alt="">
    </div>
    </div>
</div>


