.icon{
    color: #4FC3F7;
}
/* .text{
    color: #4FC3F7;
} */
.grid{
    display:grid;
    grid-template-columns:1fr;
    gap:16px
}

.counter{
    margin-bottom: 2%;
    background-color: #ECEFF1;
    height: 100px;
    border-radius: 15px;
}
.page-section{
    /* margin-top:24px; */
    padding:25px;
    background-color: #ECEFF1;
    border: 1px solid #81D4FA;
    border-radius: 10px;

}
.req{
    color: red;
}

.image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.img-wrapper {
    position: relative;
    display: inline-block;
}

.img-wrapper img {
    display: block;
    width: 270px;
    border-radius: 10px;
}

.upload-icon {
    position: absolute;
    right: 0px;
    bottom: 4px;
    cursor: pointer;
    color: white;
    font-size: 2em;
    padding: 6px;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
}

.link i{
    color: #4FC3F7;
}

textarea{
    height: 120px;
}
.btn {
    /* flex: 1; */
    padding: 8px 20px;
    font-size: 15px;
    font-weight: 500;
    transition: background 0.2s ease, transform 0.15s ease;
}

.cv-btn,.edit-btn{
    background: #4FC3F7;
    color: white;
}

.edit-btn:hover,.cv-btn:hover {
    background:#2abafd;
    transform: scale(1.05);
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


