
<div class="service-content">
    <h3 class="title mt-4">What I Can Do for Your Brand ?</h3>
    <p class="my-4 msg">{{msg}}</p>
    <div class="cards-container ">
        <div class="service-card " *ngFor="let service of services">
            <i [class]="service.icon"></i>
            <h4>{{service.title}}</h4>
            <ul class="service-points">
                <li *ngFor="let point of service.description.split('-')">
                    {{ point }}
                </li>
            </ul>
        </div>

    </div>
</div>



