
.title {
  font-weight: 700;
}
.title span {
  height: 5px;
  width: 165px;
  background-color: #4fc3f7;
  display: block;
  margin-top: 8px;
}

.smile {
  color: #4fc3f7;
  font-size: 20px;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin-top: 50px;
}

img {
  width: 100%;
  border-radius: 5px;
  display: block;
}

.project-card {
  position: relative;
  overflow: hidden;
}

.non-visible {
  text-align: center;
  background: linear-gradient(#565656b6, #1f1e1ee1);
  width: 100%;  
  height: 100%;       
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10%);
  transition: all 0.5s ease;
}

.project-card:hover .non-visible {
  transform: translateY(0);
  opacity: 1;
}

.btn-custom{
    background-color: #4fc3f7;
    padding: 10px 27px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    transition: 0.8s ease;
}
.btn-custom:hover{
    transform: scale(1.1);
    transition: 0.8s ease;
}


.modal-width {
  max-width: 1000px !important;
}

.custom-arrow {
  color: rgb(50, 50, 50) !important;
  font-size: 30px;
  opacity: 1 !important;
}

.re {
  position: relative;
}

.arrow {
  position: absolute;
  top: 120px;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 15%;
  background: 0 0;
  filter: var(--bs-carousel-control-icon-filter);
  border: 0;
  transition: all 0.8s ease;
}
.right {
  text-align: right;
  margin-right: -24px;
  right: 0;
}
.left {
  text-align: left;
  left: 0;
  margin-left: -24px;
}
.arrow:hover {
  transform: scale(1.1);
  transition: all 0.8s ease;
}

.url {
    color: #4fc3f7;
    font-size: 25px;
}
.project-title {
    color: #4fc3f7;
}

@media (min-width: 768px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .cards-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
