<div class="project-container">
    <h3 class="title mt-4">My Projects</h3>
    <div class="desc">
        <!-- <p>A showcase of my work — where ideas turn into real websites and apps ✨ </p> -->
        <p class="my-4">Here’s a look at the projects I’ve built with passion and creativity — hope you enjoy browsing through them!</p>
    </div>

    <div class="cards-container ">
        <div class="" *ngFor="let project of projects; let i = index">
            <div class="project-card">
                <div class="image">
                <img [src]="'http://localhost:4000/images/' + project.cover" alt="">
                </div>
                <div class="non-visible">
                <h4 class="py-5 text-white">{{ project.title }}</h4>
                <button class="btn btn-custom" data-bs-toggle="modal" [attr.data-bs-target]="'#modal-' + i">
                    Demo <i class="fa-solid fa-arrow-right"></i>
                </button>
                </div>
            </div>

            <!-- المودال -->
            <div class="modal fade" [id]="'modal-' + i" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-width modal-dialog-centered modal-dialog-scrollable modal-custom">
                <div class="modal-content">
                    <div class="modal-body">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="row p-3">
                        <div class="slider-image col-6">
                        <div id="carousel-{{ i }}" class="carousel slide w-100">
                            <div class="carousel-inner">
                            <div class="carousel-item" [class.active]="j === 0" *ngFor="let img of project.images; let j = index">
                                <img [src]="'http://localhost:4000/images/' + img" class="d-block w-100" alt="...">
                            </div>
                            </div>
                            <button class="arrow left" type="button" attr.data-bs-target="#carousel-{{ i }}" data-bs-slide="prev">
                            <i class="fas fa-chevron-left custom-arrow"></i>
                            <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="arrow right" type="button" attr.data-bs-target="#carousel-{{ i }}" data-bs-slide="next">
                            <i class="fas fa-chevron-right custom-arrow"></i>
                            <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        </div>
                        <div class="content col-6">
                        <h3>{{ project.title }}</h3>
                        <p class="pt-2">{{ project.description }}</p>
                        <ul class="list-group list-unstyled pt-4">
                            <li><span class="fw-bold">Created</span> - {{ project.createdAt | date }}</li>
                            <li class="py-1"><span class="fw-bold">Technologies</span> - {{ project.technologies }}</li>
                            <li><span class="fw-bold">Role</span> - {{ project.role }}</li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>

    </div>
</div>
