<div class="text mb-4">
  <h3>About Text</h3>
  @if(myForm){
    <form [formGroup]="myForm" (ngSubmit)="submit()">
      <textarea formControlName="aboutText"></textarea>
      <button class="btn-save btn">Save</button>
    </form>
  }
  
</div>

<ul class="headers">
  <li><a class="nav-link active" aria-current="page" routerLink="/dashboard/about/skills" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Skills</a></li>
  <li><a class="nav-link" routerLinkActive="active" routerLink="/dashboard/about/certif">Certifications</a></li>
  <li><a class="nav-link" routerLinkActive="active" routerLink="/dashboard/about/edu">Education</a></li>
</ul>
<router-outlet></router-outlet>




